[submodule "docs/boilerplate"]
	path = docs/boilerplate
	url = https://github.com/aws-quickstart/quickstart-documentation-base-common.git
	branch = main
[submodule "submodules/lambda-copyzips"]
	path = submodules/lambda-copyzips
	url = git@github.com:aws-ia/lambda-copyzips.git
